.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loader {
    max-width: 15rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    animation-name: preloader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 170px 170px;
    will-change: transform;
}

    circle:nth-of-type(1) {
        stroke-dasharray: 550;
        animation-delay: 0.15s;
    }

    circle:nth-of-type(2) {
        stroke-dasharray: 500;
        animation-delay: 0.3s;
    }

    circle:nth-of-type(3) {
        stroke-dasharray: 450;
        animation-delay: 0.45s;
    }

    circle:nth-of-type(4) {
        stroke-dasharray: 300;
        animation-delay: 0.6s;
    }



@keyframes preloader {
    50% {
        transform: rotate(360deg);
    }
}

#content {
    display: none;
    text-align: center;
}

#list-searchBox{
    margin: 50px;
}

body {
    color: whitesmoke;
    background-color: black;
    min-height: 2000px;
    padding-top: 70px;
    margin: 0;
    font-family: Arial;
  }
  
  * { box-sizing: border-box; }

  .grid {
    background: #DDD;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  