<div class="row" ng-hide="contact._id">
    <div class="col-md-6">
        <h2>Create new contact</h2>
    </div>
  </div>
  <div class="container">
    <div>
      <p>
        <label>Link (required)</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.link" required> 
      </p>
      <p>
        <label>Tag 1</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.tag.tag1"> 
      </p>
      <p>
        <label>Tag 2</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.tag.tag2"> 
      </p>
      <p>
        <label>Tag 3</label> 
        <input id="name" class="form-control" type="text" ng-model="contact.tag.tag3"> 
      </p>
      <p>
        <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
        <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
      </p>
    </div>
  </div>